<section class="cancellation-and-Refund-policy">
  <!-- Header component -->
  <app-header></app-header>

  <!--body of cancellation & Refund policy-->

  <div class="faq-body">
    <!-- cancellation & Refund policy Heading  -->
    <div class="container">
      <div class="body-header">
        <h4 class="body-heading bold" style="text-transform:uppercase;">Cancellation & Refund Policy</h4>
        <label class="body-tagline regular">Cancellation of orders can be made under <b>My Trips</b> of your
          account</label>
      </div>
    </div>

    <!-- cancellation & Refund policy Content -->
    <div class="content container">
      <p class="bold">
        AirPort/City to City Transfer Local - For orders towards the Airport/City of Service:
      </p>

      <table>
        <tbody>
          <tr>
            <td>
              <p>Up to 24 hours before start time of scheduled slot</p>
            </td>
            <td>
              <p>No cancellation Fee. 100% refund back to source account</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Between 24 Hours to 12 Hours of start time of schedule Slot. </p>
            </td>
            <td>
              <p>The order can be rescheduled to another day of travel of up to 5 days for self or to another nominated
                user. Please write to customercare@carterporter.in with Order# and the revised date of service and time
                of departure at least 36 hours before time of departure. </p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Under 12 hours of start time of schedule Slot or no update from passenger on location information up to
                16 hours from departure time. </p>
              <p>
                No response from the location contact or customer at pick up
                location, after 15 minutes of waiting will be considered as
                cancelled after slot time schedule.
              </p>
            </td>
            <td>
              <p>
                The cancellation charges are 100% of order amount citing no
                response at location
              </p>
            </td>
          </tr>

          <tr>
            <td>
              <p>
                <span class="bold"> Post Pick up:</span>No show at the airport after 6 hours Gate meet time
              </p>
            </td>
            <td>
              <p>
                Reschedule order will be made with same order value and
                rescheduled back for delivery at the location of pick up. Local
                delivery to another location or delivery at the airport again
                same order value charges will apply for rescheduled order.
              </p>
            </td>
          </tr>

          <tr>
            <td>
              <p>
                <span class="bold"> Post Pick up:</span>Delayed show of up to 10
                hours after gate meet time.
              </p>
            </td>
            <td>
              <p>
                Reschedule order will be made with local delivery charges will
                apply for rescheduled order for luggage storage services.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <br />

      <p class="bold">AirPort/City to City Transfer Local - For orders from the Airport/City of Service::</p>
      <table>
        <tbody>
          <tr>
            <td>
              <p>Up to 24 hours before Arrival gate meet time</p>
            </td>
            <td>
              <p>No cancellation Fee. 100% refund.</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Between 24 Hours to 12 Hours of Arrival gate meet time</p>
            </td>
            <td>
              <p>The order can be rescheduled to another day of travel of up to 5 days for self or to another nominated
                user. Please write to customercare@carterporter.in with Order# and the revised date of service and time
                of arrival at least 12 hours before time of arrival. </p>
            </td>
          </tr>

          <tr>
            <td>
              <p>
                Under 12 hours of Arrival gate meet time No show After 4 hours
                Arrival Gate meet time unless incoming flight is delayed
              </p>
            </td>
            <td>
              <p>The cancellation charges are 100% of order amount.</p>
            </td>
          </tr>

          <tr>
            <td>
              <p>
                <span class="bold"> Post Pick up:</span>No response from the
                location contact or customer at delivery location, after 15
                minutes of waiting will be considered as No response at location
              </p>
              <p>No address update post arrival and unable to reach passenger and alternative contact for up to 6 hours
                of arrival time. </p>
            </td>
            <td>
              <p>
                Order will have to be rescheduled since we have moved away from
                the location. Order will be rescheduled for delivery on the same
                day or next day based on available slots. Order amount will be
                of the same original value of the order placed.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <br />

      <!-- table AirPort Transfer Outstation -->
      <p class="bold">
        AirPort/City to City Transfer Outstation - For orders towards the Airport/City of Transfer:
      </p>
      <table>
        <tbody>
          <tr>
            <td>
              <p>
                Anytime before Up to 3 days prior/before to the date of service
              </p>
            </td>
            <td>
              <p>No cancellation Fee. 100% refund back to source account.</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><b>On/Under 3 days to the date of service.</b></p>
              <p><b>No Address update on location of pick up On/Under 3 days to the date of date of service. </b></p>
            </td>
            <td>
              <p>The order can be rescheduled to another day of travel of up to 30 days for self or to another nominated
                user. Please write to customercare@carterporter.in with Order# and the revised date of service and time
                of arrival at least 24 hours before time of arrival. </p>
            </td>
          </tr>
          <tr>
            <td>
              <p>After schedule slot time begins either No response from the location contact or customer at pick up
                location, after 25 minutes of waiting will be considered as cancelled after slot time schedule.</p>
            </td>
            <td>
              <p>The cancellation charges are 100% of order amount.</p>
            </td>
          </tr>



          <tr>
            <td>
              <p>
                <span class="bold"> Post Pick up:</span>No show at the airport after gate meet time
              </p>
            </td>
            <td>
              <p>
                Rescheduled with Outstation charges order will be made with same order value and rescheduled back for
                delivery at the location of pick up. If the order is to be delivered to a local address or delivery at
                the airport again local delivery charges will apply for rescheduled order. Local charges of the
                departure airport will apply.
              </p>
            </td>
          </tr>

          <tr>
            <td>
              <p><b>Post Pick up:</b> Delayed show of up to 10 hours after gate meet time. Delivery back at the airport.
              </p>
            </td>
            <td>
              <p>Rescheduled order will be made with local delivery charges for luggage storage services.</p>
            </td>
          </tr>

        </tbody>
      </table>

      <br />
      <br />
      <!-- table AirPort Transfer Outstation -->
      <p class="bold">
        AirPort Transfer Outstation - For orders towards the Airport:
      </p>
      <table>
        <tbody>
          <tr>
            <td>
              <p>
                Anytime before Up to 3 days <b>prior/before</b> to the date of service.
              </p>
            </td>
            <td>
              <p>No cancellation Fee.</p>
            </td>
          </tr>
          <tr>
            <td>
              <p><b>On/Under 3days to the date of date of service.</b></p>
              <p><b>No Address update on location of delivery On/Under 3 days to the date of date of service. </b></p>
            </td>
            <td>
              <p>The order can be rescheduled to another day of travel of up to 30 days for self or to another nominated
                user. Please write to customercare@carterporter.in with Order# and the revised date of service and time
                of arrival at least 24 hours before time of arrival. </p>
            </td>
          </tr>
          <tr>
            <td>
              <p>
                <span class="bold"> Post Pick up:</span> No response from the
                location contact or customer at pick up location, after <b>60
                  minutes</b> of waiting will be considered as cancelled after slot
                time schedule.
              </p>
            </td>
            <td>
              <p>
                Order will have to be rescheduled since we have moved away from
                the location. Order will be rescheduled for delivery based on
                the distance we have moved and connectivity to return.
                Rescheduled Outstation Order amount will be of same original
                value of the order placed if we have moved from your outstation
                location. Rescheduled Local Delivery charges will apply of the
                corresponding incoming airport if the delivery can be
                rescheduled within 2 hours of leaving your Outstation premises.
              </p>
            </td>
          </tr>
        </tbody>
      </table>

      <br />
      <br />
      <p>Both services on a round trip will be cancelled if cancelation is warranted on any portion of the service.
        Return trip bookings will be treated as individual bookings and cancellation policy applies independently.</p>
      <p>
        Insurance amount paid by customers will not be refunded on cancellation.
        Refunds can be tracked under Manage Orders of your account. All refunds
        will be processed within 7 working days.
      </p>
      <p>For order count subtracted under ‘Order Modification’ maximum refund applicable is only for ONE luggage. The
        luggage will be of standard pricing even if other categories of luggage were cancelled in the order. This option
        is unavailable for orders that have a luggage count of one.</p>
      <p>No refunds on subtraction of luggage on ‘Order Modification’ will be apply on the order made with offers or
        coupons or both. Following a cancellation, we will send you an email confirmation to your registered email id
        and refund the booking amount through account credits within 7 days to your source mode of payment. </p>
      <p>
        All refund payments will be processed back to the source account. Refund
        amount will reflect under the name ‘Carterporter Private Limited’ in the
        source statement of accounts. Terms & Conditions apply.
      </p>
      <div>
        Forward all queries to<span class="bold key-point">
          customercare@carterporter.in</span>
      </div>
    </div>
  </div>
  <!-- cancellation & Refund policy Footer -->
  <app-footer></app-footer>
</section>
