<section class="webView">
  <div class="header-image" style="padding-top: 14rem;" *ngIf="false">
    <!-- <div class="layer"></div> -->
    <section class="home-page-banner"></section>

    <div class="container-fluid" *ngIf="false">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12 details-parent">
          <app-user-input-details></app-user-input-details>
        </div>
      </div>
    </div>
  </div>
  <app-header></app-header>
  <app-locate-us-airport *ngIf="false"></app-locate-us-airport>
  <app-safty-first *ngIf="false"></app-safty-first>
  <app-home-citywise-cost *ngIf="false"></app-home-citywise-cost>
  <app-booking></app-booking>
  <app-subscription></app-subscription>
  <app-partner></app-partner>
  <!-- <app-home-static-block></app-home-static-block> -->
  <app-footer></app-footer>
  <!-- <router-outlet></router-outlet> -->
</section>


<section class="mobileView" *ngIf="false">
  <app-new-home-mobile></app-new-home-mobile>
  <!-- <app-new-airport-mobile></app-new-airport-mobile> -->
</section>