@import '../../../styles.scss';

#header{
    width: 100%;
    z-index: 99999;
    position: fixed;
    top: 0;
    opacity: 0.9;
    .header-top{
        border-bottom: groove;
        border-width: 1px;
        .header-container{
            height:20px;
            font-size: 12px;
            color: white !important;  
        }
    }
    .collapse-custom{
        float: right;
        .nav-link-custom{
            color: white;
            display: inline-block;
            cursor: pointer;
            &:hover{
                color: $orange;
            }
            &.active{
                color: $orange;
            }

        }
        .logout-dropdown{
            color: white;
            display: inline-block;
            cursor: pointer;
            background: none;
            border: none;
            outline: none;
            padding-right: 0px;
            margin-right: 15px;
        }
        .pipe{
            margin-left: -25px;
            margin-right: -10px;
        }
        .menu-list{
            font-size: 12px;
            padding: 15px;
            color: white !important;
            display: contents;
            :last-child{
                padding-right: 20px;
            }
            a:active{
                color: $orange;
            }
        }
    }
    .height{
        height: 75px;
    }

.mytrips{
    margin-top: -1px;
    margin-right: -10px;
}

.nav-item{
    img{
        margin-top: 13px;
        margin-right: -4px;
        height: 10px;
    }
}

.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
    padding: 15px;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
}
.demoCls{
    display: none;
    position: absolute;
    top: 27px;
    z-index: 99;
    margin-left: 10px;
    padding: 5px 10px;
    background: #676f77;
}
.logout{
    display: inline;
    cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: 14px;
}
// @media only screen and (max-width: 768px){
//     #header{
//         width: 100%;
//         z-index: 3;
//         position: fixed;
//         top: 0;
//         opacity: 0.9;
//         .header-top{
//             border-bottom: groove;
//             border-width: 1px;
//             .header-container{
//                 height:20px;
//                 font-size: 12px;
//                 color: white !important;  
//             }
//         }
//         .collapse-custom{
//             float: right;
//             .nav-link-custom{
//                 color: white;
//                 display: inline-block;
//                 cursor: pointer;
//                 &:hover{
//                     color: $orange;
//                 }
//                 &.active{
//                     color: $orange;
//                 }
    
//             }
//             .pipe{
//                 margin-left: -25px;
//                 margin-right: -10px;
//             }
//             .menu-list{
//                 font-size: 12px;
//                 padding: 5px;
//                 :last-child{
//                     padding-right: 0;
//                 }
//                 a:active{
//                     color: $orange;
//                 }
//             }
//         }
//         .height{
//             height: 62px;
//         }
    
//     .mytrips{
//         margin-top: -1px;
//         margin-right: -10px;
//     }
    
//     .nav-item{
//         img{
//             margin-top: -4px;
//             margin-right: -9px;
//         }
//     }
    
//     .dark-modal .modal-content {
//         background-color: #292b2c;
//         color: white;
//       }
//       .dark-modal .close {
//         color: white;
//       }
//       .light-blue-backdrop {
//         background-color: #5cb3fd;
//       }
//     }
//     .navbar-toggler:not(:disabled):not(.disabled){
//         cursor: pointer;
//     position: absolute;
//     right: 0;
//     top: -33px;
//     }

// }

