<div class="backgrounsdedddd30">
  <div class="container-fluid features">
    <div class="row extra-bold">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 feature-heading">
            <img src="../../../../../../assets/icons/door-step-pickup.png">
            <p class="pt-2">Door Step Pickup</p>
          </div>
          <div class="col-md-3 feature-heading">
            <img src="../../../../../../assets/icons/free-insurance.png">
            <p style="padding-top: 11px;">Free Insurance</p>
          </div>
          <div class="col-md-3 feature-heading">
            <img src="../../../../../../assets/icons/temper-resistant-packing.png">
            <p style="padding-top: 14px;">Tamper Resistant Packing</p>
          </div>
          <div class="col-md-3 feature-heading">
            <img src="../../../../../../assets/icons/live-tracking.png">
            <p style="padding-top: 10px;">Live Tracking</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 feature-heading">
            <img src="../../../../../../assets/icons/secure-handling.png">
            <p style="padding-top: 14px;">Secure Handling</p>
          </div>
          <div class="col-md-3 feature-heading">
            <img src="../../../../../../assets/icons/doorstep-delivery.png">
            <p style="padding-top: 17px;">Door Step Delivery</p>
          </div>
          <div class="col-md-3 feature-heading">
            <img src="../../../../../../assets/icons/24by7-support.png">
            <p style="padding-top: 10px;">24/7 Support</p>
          </div>
          <div class="col-md-3 feature-heading">
            <img src="../../../../../../assets/icons/free-cancellation.png">
            <p style="padding-top: 10px;">Free Cancellation</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
