<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12 mb-5" style="margin-top: 8.6rem">
      <h4
        class="text-center body-heading bold"
        style="text-transform: uppercase"
      >
        Booking Information
      </h4>
      <!-- <div class="video departure-card">
        <div class="mt-5">
          <meta charset="utf-8"><span
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">Departure:
          </span>
          <span
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">Bags
            will be delivered till the check-in counters</span>
        </div>
        <div>
          <meta charset="utf-8"><span
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">Arrival:
          </span>
          <span
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">Bags
            will be collected at Baggage Belts</span>
        </div>
        <p>
          <meta charset="utf-8">
        </p>

        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          <meta charset="utf-8">
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <div style="margin: 0px; box-sizing: border-box;"><span style="margin: 0px;">Departing passenger needs to
                meet
                CarterX personnel before entering the terminal</span>
            </div>
            <div style="margin: 0px; box-sizing: border-box;"><span style="margin: 0px;">Passenger ID proof is mandatory
                at
                the time of pick up and will be validated on delivery</span></div>
            <div style="margin: 0px; box-sizing: border-box;"><span style="margin: 0px;">before entering the
                terminal</span>
            </div>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">Security Declaration must be duly filled and signed</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">The Passenger must arrive at the airport at least<span
                style="margin: 0px;">&nbsp;</span><strong>120</strong><span style="margin: 0px;">&nbsp;</span>minutes
              prior
              to departure</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">Multiple bookings can be made under a single PNR</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">Maximum dimension of each bag cannot exceed 319 linear cms ( 81cm (H) x 119cm (W)
              x
              <span style="margin: 0px; background-color: white;">119 cm (D) ).Maximum weight can be up to 32/kgs per
                piece.</span></span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            Bags cannot be added/subtracted once booking is confirmed.</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">All electronic items/oversized will be charged as Fragile with INR 399 per Kg as
              order
              <span style="margin: 0px; background-color: white;">modification
                piece.</span></span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">All electronics should be in their original packing only</span>
          </div>

          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">Booking pick up address will be updated post the booking and can be modified upto
              24
              <span style="margin: 0px; background-color: white;">hours prior for local orders only</span></span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">Keep bags packed before porter arrives.</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">No pick up during curfew times imposed by the government
              <span style="margin: 0px; background-color: white;">All bags of each order will be picked at the doorstep
                to
                minimise exposure.</span></span>
          </div>

          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            Passenger/household personnel should continue to wear mask while interacting with</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">CarterX personnel at pickup location and the airport</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">CarterX personnel will call prior to allocate Suitable Pick up Slot Time and
              complete
              the</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">address from the given pin code</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">All orders will be delivered only on receipt of full payment of order and order
              modification</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;"><br></span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">Departure Slots for local orders</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            -7am &ndash; 11 am | Order available at Airport after 2pm</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            -11 am &ndash; 3 pm |Order available at Airport after 6pm</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            -3 pm &ndash; 7 pm | Order available at Airport after 10pm</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            -7 pm &ndash; 12 am | Order available at Airport after 3am</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            -4 am &ndash; 7 am | Order available at Airport after 10am</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <br>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            Arrival Slots for Local Orders</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            Arrival Before 3pm : Order will be delivered on the same day before 11.55pm</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">Arrival After 3pm : Order will be delivered on the next day before 2pm</span>
          </div>
        </div>
      </div> -->

      <div class="infoParagraph mt-5">
        <p class="heading">
          Departure:<span>
            Bags will be delivered till the check-in counters</span
          >
        </p>
        <p class="heading mb-3">
          Arrival:<span> Bags will be collected at Baggage Belts</span>
        </p>
        <p>Doorstep and Curbside pick up and delivery both are available.</p>
        <p>
          Curbside includes to or from airport parking or cab drop off points
          and pick up lanes of the airport terminal only.
        </p>
        <p>
          Departing passenger needs to meet CarterX personnel before entering
          the terminal
        </p>
        <p>
          Arriving Customer needs to meet CarterX personal before exiting the
          terminal
        </p>
        <p>
          Passenger must have completed his/her Web Check-in prior to the pick
          up slot time
        </p>
        <p>
          Passenger ID proof is mandatory at the time of pick up and will be
          validated on delivery before entering the terminal
        </p>
        <p>
          Security Declaration must be duly filled and signed for doorstep pick
          up.
        </p>
        <p>
          The Passenger must arrive at the airport at least 120 minutes prior to
          departure for both doorstep and curbisde pickup.
        </p>
        <p>Multiple bookings can be made under a single PNR</p>
        <p>
          Charges for excess number of bags will be collected by the airline as
          per the airline directive.
        </p>
        <p>
          We advice that excess weight be purchased on airline website for
          shorter wait times at counters.
        </p>
        <p>
          Maximum dimension of each bag cannot exceed 319 linear cms ( 81cm (H)
          x 119cm (W) x 119 cm (D) ).
        </p>
        <p>
          Maximum weight can be up to 32/kgs per piece as per CarterX carriage
          and is not indicative of airline weight limitations or excess weight.
        </p>
        <p>
          Excess weight should be purchased prior or during the time of pickup
          from the airline website at doorstep for smoother pick up and
          delivery.
        </p>
        <p>Bags cannot be added/subtracted once booking is confirmed.</p>
        <p>Booking pick up address can be modified upto 24 hours prior</p>
        <p>
          Doorstep Departure bookings are accepted upto 24 hours prior to
          departure.
        </p>
        <p>
          Curbside departure can be booked and availed up to 3 hours prior to
          meeting carterX at airport.
        </p>
        <p>Customer Care Bookings are confirmed post payment</p>
        <p>
          All electronic items/oversized will be charged as Fragile with INR 399
          per Kg as order modification piece.
        </p>
        <p>All electronics should be in their original packing only</p>
        <p>
          Booking pick up address will be updated post the booking and can be
          modified upto 24 hours prior for local orders only
        </p>
        <p>Keep bags packed before porter arrives.</p>
        <p>
          CarterX personnel will call prior to allocate Suitable Pick up Slot
          Time and complete the address from the given pin code
        </p>
        <p>
          All orders will be delivered only on receipt of full payment of order
          and order modification
        </p>
        <p class="mt-3 heading">
          Departure Slots for local orders Doorstep Pick Up:
        </p>
        <p>-07 am – 11 am | Order available at Airport after 02 pm</p>
        <p>-11 am – 03 pm | Order available at Airport after 06 pm</p>
        <p>-03 pm – 07 pm | Order available at Airport after 10 pm</p>
        <p>-07 pm – 12 am | Order available at Airport after 03 am</p>
        <p>-04 am – 07 am | Order available at Airport after 10 am</p>
        <p class="mt-3 heading">
          Arrival Slots for Local Orders Doorstep Delivery:
        </p>
        <p>
          Arrival Before 3 pm : Order will be delivered on the same day before
          11:55 pm
        </p>
        <p>
          Arrival After 3 pm : Order will be delivered on the next day before 2
          pm
        </p>
        <p class="mt-3 heading">Arrival Cancellation and Refund:</p>
        <p>Doorstep Delivery: Cancellation any time</p>
        <p>
          100% Refund 24 hours before time to meet CarterX at Airport for
          doorstep bookings
        </p>
        <p>
          100% Refund 3 hours before time to meet CarterX at Airport for
          curbside
        </p>
        <p class="mt-3 heading">Departure Cancellation and Refund:</p>
        <p>Doorstep Delivery: Cancellation any time</p>
        <p>
          100% Refund 24 hours before time to meet CarterX at Airport for
          doorstep bookings
        </p>
        <p>
          100% Refund 3 hours before time to meet CarterX at Airport for
          curbside
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
