<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-12 mb-5" style="margin-top: 8.6rem;">
      <h4 class="text-center body-heading bold" style="text-transform:uppercase;">Booking Information</h4>
      <div class="video departure-card">
        <div class="mt-5">
          <meta charset="utf-8"><span
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">Departure:
          </span>
          <span
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">Bags
            will be delivered till the check-in counters</span>
        </div>
        <div>
          <meta charset="utf-8"><span
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-style: initial; text-decoration-color: initial; display: inline !important; float: none;">Arrival:
          </span>
          <span
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">Bags
            will be collected at Baggage Belts</span>
        </div>
        <p>
          <meta charset="utf-8">
        </p>

        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          <meta charset="utf-8">
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <div style="margin: 0px; box-sizing: border-box;"><span style="margin: 0px;">Departing passenger needs to
                meet
                CarterX personnel before entering the terminal</span>
            </div>
            <div style="margin: 0px; box-sizing: border-box;"><span style="margin: 0px;">Passenger ID proof is mandatory
                at
                the time of pick up and will be validated on delivery</span></div>
            <div style="margin: 0px; box-sizing: border-box;"><span style="margin: 0px;">before entering the
                terminal</span>
            </div>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">Security Declaration must be duly filled and signed</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">The Passenger must arrive at the airport at least<span
                style="margin: 0px;">&nbsp;</span><strong>120</strong><span style="margin: 0px;">&nbsp;</span>minutes
              prior
              to departure</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">Multiple bookings can be made under a single PNR</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">Maximum dimension of each bag cannot exceed 319 linear cms ( 81cm (H) x 119cm (W)
              x
              <span style="margin: 0px; background-color: white;">119 cm (D) ).Maximum weight can be up to 32/kgs per
                piece.</span></span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            Bags cannot be added/subtracted once booking is confirmed.</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">All electronic items/oversized will be charged as Fragile with INR 399 per Kg as
              order
              <span style="margin: 0px; background-color: white;">modification
                piece.</span></span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">All electronics should be in their original packing only</span>
          </div>

          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">Booking pick up address will be updated post the booking and can be modified upto
              24
              <span style="margin: 0px; background-color: white;">hours prior for local orders only</span></span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">Keep bags packed before porter arrives.</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">No pick up during curfew times imposed by the government
              <span style="margin: 0px; background-color: white;">All bags of each order will be picked at the doorstep
                to
                minimise exposure.</span></span>
          </div>

          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            Passenger/household personnel should continue to wear mask while interacting with</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">CarterX personnel at pickup location and the airport</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">CarterX personnel will call prior to allocate Suitable Pick up Slot Time and
              complete
              the</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">address from the given pin code</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">All orders will be delivered only on receipt of full payment of order and order
              modification</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;"><br></span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">Departure Slots for local orders</span>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            -7am &ndash; 11 am | Order available at Airport after 2pm</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            -11 am &ndash; 3 pm |Order available at Airport after 6pm</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            -3 pm &ndash; 7 pm | Order available at Airport after 10pm</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            -7 pm &ndash; 12 am | Order available at Airport after 3am</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            -4 am &ndash; 7 am | Order available at Airport after 10am</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <br>
          </div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            Arrival Slots for Local Orders</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            Arrival Before 3pm : Order will be delivered on the same day before 11.55pm</div>
          <div
            style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
            <span style="margin: 0px;">Arrival After 3pm : Order will be delivered on the next day before 2pm</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
