<div class="container-fluid pb-5">
    <div class="bg-dark pl-lg-5 pr-lg-5 pt-3 row">
        <div class="col-md-7 col-12 col-sm-12 text-lg-left text-center">
            <img src="../../../assets/images/Carterx-Logo.png">
        </div>

        <div class="col-md-5 col-12 col-sm-12 text-lg-right text-center">
            <p class="orderNumber pt-3">ORDER NUMBER IS XX22786581</p>
        </div>
    </div> 


    <div class="row bg-white pl-lg-5 pr-lg-5">
        <div class="col-md-12 col-12 col-sm-12 pb-3">
            <div class=" borderBottom">
                <p class="text-uppercase heading mt-5 mb-2">Feedback</p>
                <p class="subHeading">subheading will come here</p>
            </div>
        </div>
    </div>

    <div class="row bg-white pl-lg-5 pr-lg-5 justify-content-center mt-4">
        <div class="col-md-8 col-12 col-sm-12">
            <div class="cards pt-4 pb-4">
                <p class="cardQuestion">Rate your Delivery Experience ?</p>
                <div class="d-flex pl-3 pr-3 mt-4">
                    <div class="w-25 pr-0">
                        <div class="border-bottom text-center pb-3">
                            <img class="emojs" src="../../../../../../../assets/icons/VectorSmartObject-5.png" />
                        </div>
                        <p class="allEmojsName mt-2 mb-0">Poor</p>
                    </div>

                    <div class="w-25 pl-0 pr-0">
                        <div class="border-bottom text-center pb-3">
                            <img class="emojs" src="../../../../../../../assets/icons/VectorSmartObject-4.png" />
                        </div>
                        <p class="allEmojsName mt-2 mb-0">Average</p>
                    </div>

                    <div class="w-25 pl-0 pr-0">
                        <div class="border-bottom text-center pb-3">
                            <img class="emojs" src="../../../../../../../assets/icons/VectorSmartObject-3.png" />
                        </div>
                        <p class="allEmojsName mt-2 mb-0">Good</p>
                    </div>

                    <div class="w-25 pl-0 pr-0">
                        <div class="border-bottom text-center pb-3">
                            <img class="emojs" src="../../../../../../../assets/icons/VectorSmartObject-2.png" />
                        </div>
                        <p class="allEmojsName mt-2 mb-0">Very Good</p>
                    </div>

                    <div class="w-25 pl-0 pr-0">
                        <div class="border-bottom text-center pb-3">
                            <img class="emojs" src="../../../../../../../assets/icons/VectorSmartObject.png" />
                        </div>
                        <p class="allEmojsName mt-2 mb-0">Excellent</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-12 col-sm-12  mt-5">
            <div class="cards pt-4 pb-4">
                <p class="cardQuestion">Rate your Delivery Personnel ?</p>
                <div class="d-flex pl-3 pr-3 mt-4">
                    <div class="w-25 pr-0">
                        <div class="border-bottom text-center pb-3">
                            <img class="emojs" src="../../../../../../../assets/icons/VectorSmartObject-5.png" />
                        </div>
                        <p class="allEmojsName mt-2 mb-0">Poor</p>
                    </div>

                    <div class="w-25 pl-0 pr-0">
                        <div class="border-bottom text-center pb-3">
                            <img class="emojs" src="../../../../../../../assets/icons/VectorSmartObject-4.png" />
                        </div>
                        <p class="allEmojsName mt-2 mb-0">Average</p>
                    </div>

                    <div class="w-25 pl-0 pr-0">
                        <div class="border-bottom text-center pb-3">
                            <img class="emojs" src="../../../../../../../assets/icons/VectorSmartObject-3.png" />
                        </div>
                        <p class="allEmojsName mt-2 mb-0">Good</p>
                    </div>

                    <div class="w-25 pl-0 pr-0">
                        <div class="border-bottom text-center pb-3">
                            <img class="emojs" src="../../../../../../../assets/icons/VectorSmartObject-2.png" />
                        </div>
                        <p class="allEmojsName mt-2 mb-0">Very Good</p>
                    </div>

                    <div class="w-25 pl-0 pr-0">
                        <div class="border-bottom text-center pb-3">
                            <img class="emojs" src="../../../../../../../assets/icons/VectorSmartObject.png" />
                        </div>
                        <p class="allEmojsName mt-2 mb-0">Excellent</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8 col-12 col-sm-12 mt-5">
            <div class="cards pt-4 pb-4">
                <p class="cardQuestion">How Likely are you to use again and recommend CarterX ?</p>
                <div class="d-flex pl-3 pr-3 mt-4">
                    <div class="w-50 pr-0">
                        <div class="border-bottom text-center pb-3">
                            <img class="emojs" src="../../../../../../../assets/icons/VectorSmartObject-5.png" />
                        </div>
                        <p class="allEmojsName mt-2 mb-0">Not Likely</p>
                    </div>

                    <div class="w-50 pl-0 pr-0">
                        <div class="border-bottom text-center pb-3">
                            <img class="emojs" src="../../../../../../../assets/icons/VectorSmartObject-3.png" />
                        </div>
                        <p class="allEmojsName mt-2 mb-0">Likely</p>
                    </div>

                    <div class="w-50 pl-0 pr-0">
                        <div class="border-bottom text-center pb-3">
                            <img class="emojs" src="../../../../../../../assets/icons/VectorSmartObject.png" />
                        </div>
                        <p class="allEmojsName mt-2 mb-0">Very Likely</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row bg-white pl-lg-5 pr-lg-5 mt-5 justify-content-center">
        <div class="col-12 col-md-8 col-sm-12">
            <p class="yourFeedback">Your Feedback</p>
        </div>

        <div class="col-12 col-md-8 col-sm-12 mt-3">
            <textarea class="w-100 textBox" rows = "5" id = "commentBox" (change) = "getComment($event.target.value)"></textarea>
        </div>

        <div class="col-12 col-md-8 col-sm-12 mt-2">
            <div class="d-flex">
                <input type = "checkbox" class="checkBox" (change) = "shareOnFacebook()"/>
                <label class="checkBoxLabel ml-2">Share your comments on Facebook</label>
            </div>

            <div class="d-flex">
                <input type = "checkbox" class="checkBox" (change) = "shareOnTwitter($event.target.value)" />
                <label class="checkBoxLabel ml-2">Share your comments on Twitter</label>
            </div>
        </div>

        <div class="col-12 col-md-8 col-sm-12 text-center mt-3">
            <button class="btn pl-3 pr-3 submitBtn">SUBMIT</button>
        </div>
    </div>
</div>
<!-- Faq Footer -->
<app-footer></app-footer>
