<!-- <footer class="page-footer  pt-4 footer">
  <div class="container">
    <div class="row row-custom">
      <div class="col-md-6 col-sm-6 col-xs-6 info">
        <ul class="ulist">
          <h3 class="medium">Information</h3>
          <li class="list" (click)="informationRouting('faq')">Frequently Asked Question</li>
          <li class="list" (click)="informationRouting('terms-and-conditions')">Terms and Conditions</li>
          <li class="list" (click)="informationRouting('cancellation-and-refund')">Cancellation and Refund Policy</li>
          <li class="list" (click)="informationRouting('arrival-details')">Arrival Booking Information</li>
          <li class="list" (click)="informationRouting('departure-details')">Departure Booking Information</li>

        </ul>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-6">
        <ul class="ulist">
          <h3 class="medium">Need help?</h3>
          <li>
            <img src="../../../assets/icons/footer-call.png" class="contact">
            <p class="contact">+91 911 063 5588</p>
          </li>
          <li class="mb-3">
            <img src="../../../assets/icons/footer-email.png" class="contact">
            <a href="mailto:customercare@carterporter.in" class="contact"
              style="color: white; cursor: pointer;text-decoration: none">customercare@carterporter.in</a>
          </li>
          <a href="https://www.facebook.com/wtfairfares/" target="_blank" class="social">
            <img src="../../../assets/icons/footer-facebook.png">
          </a>
          <a href="https://www.instagram.com/wtfares/" target="_blank" class="social">
            <span style="border: 2px solid #4c5f79;display: inline-block;width: 30px;border-radius: 50%;padding-left: 7px;height: 29px;"><i class="fa fa-instagram" style="font-size:14px;color: white;opacity: 0.8;"></i></span>
          </a>
          <a href="https://twitter.com/wtfares" target="_blank" class="social">
            <img src="../../../assets/icons/footer-twitter.png">
          </a>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <p class="copyrights">&copy;CarterX All rights reserved</p>
  </div>
</footer> -->
<footer>
  <div class="container pb-4">
    <div class="text-center py-4">
      <img class="footerLogo" style="cursor: pointer;" (click)="logoOnclick()"  src="../../../assets/images/Carterx-Logo.png" />
    </div>
    <div class="row">
      <div class="col-md-8">
        <h5 class="mb-4">Information</h5>
        <div class="row">
          <div class="col-6">
            <p>
              <a routerLink="/information/faq" target="_blank">FAQs</a>
            </p>
            <p>
              <a routerLink="/information/terms-and-conditions" target="_blank">Terms And Conditions</a>
            </p>
          </div>
          <div class="col-6">
            <p>
              <a routerLink="/information/privacy-policy" target="_blank">Privacy Policy</a>
            </p>
            <p>
              <a routerLink="/information/cancellation-and-refund" target="_blank">Cancellation And Refund Policy</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="mb-4 mt-2 mt-md-0">Need help?</h5>
        <div class="needHelp">
          <div class="pr-2">
            <img src="../../../assets/images/footer/Mask Group 30@3x.png" />
          </div>
          <div>
            <p class="mb-0 email">Email</p>
            <a class="mb-0" href="mailto:customercare@carterporter.in">customercare@carterporter.in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="socialMedia">
    <div class="container">
      <div class="d-flex justify-content-between footerBottom align-items-center flex-column-reverse flex-md-row">
        <div>
          <p class="mb-0 pt-3 pt-md-0">©CarterX All rights reserved</p>
        </div>
        <div class="socialIcon">
          <a href="https://www.facebook.com/CarterXIndia/" target="_blank"><img
              src="../../../assets/images/footer/Group 62@3x.png" /></a>
          <a href="https://twitter.com/CarterXIndia" target="_blank"><img
              src="../../../assets/images/footer/Group 63@3x.png" /></a>
          <!-- <a href="#" target="_blank"><img src="../../../assets/images/footer/Group 64@3x.png" /></a> -->
          <a href="https://www.youtube.com/watch?v=3GlhCz0sDrM&feature=youtu.be" target="_blank"><img
              src="../../../assets/images/footer/Group 65@3x.png" /></a>
          <!-- <a href="#" target="_blank"><img src="../../../assets/images/footer/Group 66@3x.png" /></a> -->
        </div>
      </div>
    </div>
  </div>
</footer>
