@import '../../../../../../styles.scss';


.faq {
  margin: 0px;
  padding: 0px;
  margin-top: 65px;
  background-color: #f9f9f9f9;


  .content {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 1px groove #ffffff7d;
    margin: 0px 50px;
    padding: 40px;
    padding-bottom: 5px;

    .body-heading {
      font-size: 24px;
    }

    .body-tagline {
      font-size: 1rem;
    }

    .header-line {
      height: 2px;
      border-bottom: 1px groove #ffffff7d;
    }
  }

  .container {
    margin: auto;
    padding: 20px 10px;

    .row {
      .nav-container {
        .nav {
          display: block;

          .nav-item {
            background: #ffffff;
            // border: 1px groove #ffffff7d;
            box-shadow: 1px 1px 10px 10px #efecec;
            border-radius: 3px;
            color: black;
            margin: 0 0 10px;
            padding: 15px 5px;
            font-size: 0.8rem;
            text-align: left;
            cursor: pointer;

            .icon {
              display: inline;

              img {
                padding: 0px 10px;
                margin: auto;
              }
            }

            .name {
              margin: auto;
              display: inline;
            }

            .material-icons {
              text-align: center;
            }
          }

          .active {
            background-color: #00bff3;
            color: #ffffff;
          }

          .need-help {
            margin-right: -15px;
            margin-left: -15px;
            margin-top: 20px;
            background: #ffffff;
            border: 1px groove #ffffff7d;
            color: black;
            padding: 15px 5px;
            font-size: 0.7rem;
            text-align: center;

            .icon {
              display: flex;
              align-content: center;
              justify-content: center;
              text-align: center;
            }

            .label {
              padding: 5px;
              text-align: center;
              font-size: 1rem;

              .help {
                display: inline;
                color: #fe7801;
              }
            }

            .phoneNumber {
              font-size: 16px;
              color: #00bff3;
              font-weight: 500;
            }

            .time {
              font-size: 0.7rem;
            }
          }
        }
      }

      .main-content {
        padding-left: 35px;
        padding-bottom: 70px;

        .section-heading {
          color: #fe7801;
        }
      }
    }

    .link {
      color: #00bff3 !important;
    }
  }
}

.mobile-view-faq {
  display: none;
}

.web-view-faq {
  display: block;
  min-height: 65vh;
}

@media (max-width:380px) {
  .nav-item {
    padding: 5px 5px;
  }

  .name span {
    display: none;
  }

  .main-content {
    padding-right: 35px;
    line-height: 1.3;
  }

  .web-view-faq {
    display: none !important;
  }

  .mobile-view-faq {
    display: block !important;
  }
}

@media (max-width:500px) {
  .need-help {
    display: none;
  }

  .web-view-faq {
    display: none !important;
  }

  .mobile-view-faq {
    display: block !important;
  }
}

@media (max-width:992px) {
  .material-icons {
    display: none;
  }

  .icon {
    text-align: center;
  }

  .name {
    text-align: center;
  }

  .web-view-faq {
    display: none !important;
  }

  .mobile-view-faq {
    display: block !important;
  }
}

$white: #ffffff;
$clouds: #ecf0f1;

// General
body {
  color: $white;
  background: $clouds;
  padding: 0 1em 1em;
}

h1 {
  margin: 0;
  line-height: 2;
  text-align: center;
}

h2 {
  margin: 0 0 .5em;
  font-weight: normal;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

// Layout
.row {
  display: flex;

  .col {
    flex: 1;

    &:last-child {
      // margin-left: 1em;
    }
  }
}

/* Accordion styles */
.tabs {
  // border-radius: 8px;
  overflow: hidden;
}

.tab {
  // margin-bottom: 9px;
  width: 100%;
  color: #555555;
  overflow: hidden;

  &-label {
    margin-bottom: 0px !important;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $white;
    font-weight: bold;
    cursor: pointer;

    /* Icon */
    &:hover {
      background: darken($white, 10%);
    }

    &::after {
      content: "\002B";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .50s;
    }
  }

  &-label-data {
    margin-bottom: 0px !important;
    display: flex;
    justify-content: space-between;
    padding: 1em;
    background: $white;
    font-weight: bold;
    cursor: pointer;

    /* Icon */
    &:hover {
      background: darken($white, 10%);
    }

    &::after {
      display: block;
      content: "\276F";
      width: 1em;
      height: 1em;
      text-align: center;
      transition: all .50s;
    }
  }

  &-content {
    max-height: 0;
    padding: 0 1em;
    color: #555555;
    background: white;
    transition: all .50s;
    height: 0;
  }

  &-content-data {
    max-height: 0;
    padding: 0 1em;
    color: #555555;
    background: white;
    transition: all .50s;
  }

  &-close {
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    font-size: 0.75em;
    background: $white;
    cursor: pointer;

    &:hover {
      background: darken($white, 10%);
    }
  }
}

// :checked
input:checked {
  +.tab-label {
    color: #fe7801;
    background: #fafafa;

    &::after {
      content: "\2212";
      //  transform: rotate(90deg);
    }
  }

  ~.tab-content {
    max-height: 100%;
    padding: 1em;
    height: 100%;
  }
}

input:checked {
  +.tab-label-data {
    color: $white;
    background: #00bff3;

    &::after {
      transform: rotate(90deg);
    }
  }

  ~.tab-content-data {
    max-height: 100%;
    padding: 1em;
    height: 100%;
  }
}

.register,
.account-related,
.order-related,
.payment,
.pickup-and-delivery-related,
.insurance-related,
.customer-related {
  margin-bottom: 9px;
}

.dropdown-label {
  padding: 0px;
}

.icon-tab img {
  position: absolute;
}

.icon-tab {
  padding: 0px;
}

#need-help {
  .need-help-body {
    background: white;
    border: 1px groove $border;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: -1px 0px 16px -10px #88888C;

    .need-help-text {
      display: flex;
      font-size: 20px;
      margin-bottom: -5px;
      margin-top: 15px;

      .help {
        color: $orange;
      }
    }

    .contact-number {
      color: $lightblue;
      font-size: 16px;
    }

    .timings {
      color: $darkgrey;
      margin-bottom: 0;
      margin-top: 10px;
    }
  }

}

.w-120 {
  min-width: 120px;
}

.information {
  // box-shadow: 1px 1px 10px 10px #efecec;
  background: #fff;
  border-radius: 3px;
  padding: 15px 5px 5px;

}

.custom-col {
  margin: 10px 0 0;
  padding: 0;
}

.complaint_image {
  height: 80px;
  width: 130px;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: center;

  // overflow: hidden;
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    image-rendering: -webkit-optimize-contrast;
  }

  .pdf {
    width: 60px !important;
  }
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.modal-hover-opacity {
  width: -webkit-fill-available;
  cursor: pointer;
  height: 600px;
  object-fit: contain;
}

.ticket-not-available {
  font-size: 25px;
  color: red;
  text-align: center;
}
