.header {
  font-size: 16px;
  font-weight: 600;
  color: #555555;
  border: solid 1.2px #dddddd;
}

.backImg {
  width: 57px;
  height: 25px;
}

.title {
  font-size: 15.5px;
  font-weight: 600;
  color: #237bc0;
  margin-top: 15px;
}

.Lheader {
  font-size: 24px;
  font-weight: bold;
  color: #555555;
}

.Lheader2 {
  font-size: 14px;
  font-weight: 500;
  color: #555555;
  border-bottom: solid 0.5px #cccccc;
}

.Location {
  font-size: 11px;
  font-weight: normal;
  color: #565a5c;
}
