<footer class="page-footer  pt-4 footer">
    <div class="container">
        <div class="row row-custom">
            <div class="col-md-6 info">
                <ul class="ulist">
                    <h3 class="medium">Information</h3>
                    <li (click)="informationRouting('faq')">FAQs</li>
                    <li (click)="informationRouting('terms-and-conditions')">Terms and conditions</li>
                    <li (click)="informationRouting('privacy-policy')">Privacy Policy</li>
                    <li (click)="informationRouting('cancellation-and-refund')">Cancellation and refund policy</li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="ulist">
                    <h3 class="medium">Need help?</h3>
                    <li>
                        <img src="../../../assets/icons/footer-call.png" class="contact">
                        <p class="contact">+91 911 063 5588</p>
                    </li>
                    <li>
                        <img src="../../../assets/icons/footer-email.png" class="contact">
                        <p class="contact">customercare@carterporter.in</p>
                    </li>
                    <li class="social">
                        <img src="../../../assets/icons/footer-facebook.png">
                    </li>
                    <li class="social">
                        <img src="../../../assets/icons/footer-twitter.png">
                    </li>
                    <li class="social">
                        <img src="../../../assets/icons/footer-google-plus.png">
                    </li>
                    <li class="social">
                        <img src="../../../assets/icons/footer-youtube.png">
                    </li>
                    <li class="social">
                        <img src="../../../assets/icons/footer-linkedin.png">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <p class="copyrights">&copy;CarterX All rights reserved</p>
    </div>
</footer>

