<app-header></app-header>
<div class="col-12 mb-5" style="margin-top: 8rem;">
  <h4 class="text-center"> Arrival Booking Information</h4>
  <div class="video arrival-card">
    <div
      style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 12px; box-sizing: border-box;">
      <meta charset="utf-8">
      <div
        style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
        <meta charset="utf-8">
        <div class="mt-5"
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-size: 16px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-weight: 600; box-sizing: border-box;">
          Mandatory:</div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          <span style="margin: 0px; background-color: white;">Passenger must certify status of his/her health through
            the Aarogya Setu App. Green/Safe is mandatory for pickup&nbsp;</span><span
            style="margin: 0px; background-color: white;">of order and delivery of order&nbsp;</span></div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          <br></div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          <strong>Arriving passenger needs to meet CarterX personnel before leaving the terminal</strong></div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          Booking address can be modified upto 24 hours prior to the slot time</div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          Arrival bookings are accepted upto 24 hours prior to the slot time</div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          Passenger ID proof is mandatory at the time of pick up at the terminal and will be validated on delivery</div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          Bags cannot be added/subtracted once booking is confirmed</div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          <span style="margin: 0px; background-color: white;">Maximum dimension of each bag cannot exceed 319 linear cms
            ( 81cm (H) x 119cm (W) x 119 cm (D) ). Maximum weight can be up to 32/kgs per piece.&nbsp;</span></div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          Multiple bookings can be made under single PNR</div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          No charges for excess weight are levied for Arrival passengers</div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          Upto 2 bags are accepted with each booking</div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          Customer Care Bookings are confirmed post payment</div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          Delivery will be made based on the slot time. Slot Times are prefixed based on your arrival at the airport.
          Address will be collected in detail before delivery</div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          <br></div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          Arrival from 12am - 3pm | Same day delivery between 5pm &ndash; 11.55pm</div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          Arrival from 3pm &ndash; 12 am|Next day delivery between 7am&ndash; 2pm</div>
        <div
          style="color: rgb(33, 37, 41); font-family: Montserrat, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; text-decoration-style: initial; text-decoration-color: initial; margin: 0px; font-size: 13px; box-sizing: border-box;">
          <div style="margin: 0px; box-sizing: border-box;"><br></div>
          <div style="margin: 0px; box-sizing: border-box;">Orders from containment zones will not be delivered as per
            government regulations&nbsp;</div>
          <div style="margin: 0px; box-sizing: border-box;">No delivery during curfew times imposed by the government
          </div>
          <div style="margin: 0px; box-sizing: border-box;"><span style="margin: 0px;">All bags of each order will be
              delivered at the doorstep to minimise exposure. Passenger/household personnel should continue to wear mask
              while interacting with CarterX personnel at delivery location and the airport &nbsp;</span></div>
        </div>
      </div>
    </div>
  </div>
  <!-- <label class="m-0 mr-1">Process</label>&nbsp;
          <p>at Arrival</p> -->
</div>
<app-footer></app-footer>
