.order-confirmation {
  width: 100% !important;
}

#booking-confirmation {
  height: auto !important;
  min-height: 630px !important;
  margin-top: 65px !important;
  padding: 20px 0;
}

.mobile-confirmation-item{
  border-radius: 4px;
  padding: 15px;
  margin: 20px 0;
  box-shadow: 0 1px 6px 0 rgb(0 0 0 / 16%);
}

h6{
  font-weight: 600 !important;
  margin: 0 !important;
}
