<div class="partner-section container">

  <!-- Partner AirLines -->

  <div class="partner-airlines-title d-flex align-items-center mb-3">
    <div class="logo"><img src="/assets/images/partnerAirlines/Travel.png" alt="partner airport logo"></div>
    <h5 class="m-0 medium">Partner Airlines</h5>
  </div>

  <div class="row mb-50 align-items-center">
    <div class="col-6 col-md-2 partnerLogo pb-4 pb-md-0 text-center" *ngFor="let item of partner_airlines">
      <a rel="noreferrer"
        [href]="environment_local.baseUrl== 'https://hyd.carterx.in/index.php?' ? item.qa_url :  item.production_url"
        target="_blank">
        <img [src]="item.path" [alt]="item.name">
      </a>
    </div>
  </div>

  <!-- Partner Airports -->
  <div class="partner-airports-title d-flex align-items-center mb-3">
    <div class="logo"><img src="/assets/images/partnerAirport/PartnerAirports.png" alt="partner airport logo"></div>
    <h5 class="m-0 medium">Partner Airports</h5>
  </div>

  <div class="row mb-50 align-items-center">
    <div class="col-6 col-md-2 partnerLogo pb-4 pb-md-0 text-center" *ngFor="let item of partner_airports">
      <a>
        <img class="text-center" [src]="item.path" [alt]="item.name">
      </a>
    </div>
  </div>

</div>
