

<section class="cancellation-and-Refund-policy">
  <!-- Header component -->
  <app-header></app-header>

  <!--body of cancellation & Refund policy-->

  <div class="faq-body">
    <!-- cancellation & Refund policy Heading  -->
    <div class="container">
      <div class="body-header">
        <h4 class="body-heading bold">CARGO - CANCELLATION & REFUND POLICY</h4>
        <label class="body-tagline regular">Cancellation of orders can be made under <b>My Trips</b> of your
          account</label>
      </div>
    </div>

    <!-- cancellation & Refund policy Content -->
    <div class="content container">
      <p class="bold">
        Cargo Transfer Service: Air Cargo/Surface Cargo/Express Cargo : Pick Up Service
      </p>

      <table>
        <tbody>
          <tr>
            <td>
              <p>Up to 24 hours before Date of pickup Service</p>
            </td>
            <td>
              <p>No cancellation Fee. 100% refund back to source account.</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Between 24 Hours to 12 Hours of date of pickup</p>
            </td>
            <td>
              <p>No Refunds. The order can be rescheduled to another day of up to 5 days for self or to another
                nominated user. Please write to <a href="mailto:customercare@carterporter.in" class="contact"
                  style="color: #00bff3; cursor: pointer;text-decoration: none">customercare@carterporter.in</a> with
                Order# and the revised date of service.</p>
            </td>
          </tr>
          <tr>
            <td>
              <p>Under 12 hours of start time of date of service</p>
              <p>
                No update on pick up location information up to 16 hours from date of service.
              </p>
              <p>No response from the location contact or customer at pick up location, after 15 minutes of waiting will
                be considered as cancelled </p>
            </td>
            <td>
              <p>
                The cancellation charges are 100% of order amount citing no response at location
              </p>
            </td>
          </tr>

          <tr>
            <td>
              <p>
                <span class="bold"> Post Pick up:</span>No show at the airport after 6 hours Gate meet time
              </p>
            </td>
            <td>
              <p>
                Reschedule order will be made with same order value and rescheduled back for delivery at the location of
                pick up. Local delivery to another location or delivery at the airport again same order value charges
                will apply for rescheduled order.
              </p>
            </td>
          </tr>

          <tr>
            <td>
              <p>
                <span class="bold"> Post Pick up:</span>Delayed show of up to 10
                hours after gate meet time.
              </p>
            </td>
            <td>
              <p>
                Reschedule order will be made with local delivery charges will apply for rescheduled order for luggage
                storage services.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <br />

      <p class="bold">Cargo Transfer Service: Air Cargo/Surface Cargo/Express Cargo: At Delivery</p>
      <table>
        <tbody>
          <tr>
            <td>
              <p>
                <span class="bold"> Post Pick up:</span>No response from the location contact or customer at delivery
                location, after 15 minutes of waiting will be considered as No response at location
              </p>
              <p>No address update post arrival and unable to reach passenger and alternative contact for up to 6 hours
                of arrival time.</p>
            </td>
            <td>
              <p>
                Order will have to be rescheduled since we have moved away from the location. Order will be rescheduled
                for delivery on the same day or next day based on available slots. Extra Charges may apply for
                redelivery of up to INR 599 per order (exclusive of tax). Redelivery will be only attempted once else
                order needs to be collected from our local station office.
              </p>
            </td>
          </tr>
        </tbody>
      </table>
      <br />
      <br />
      <p>Insurance amount paid by customers will not be refunded on cancellation.
        Refunds can be tracked under Manage Orders of your account. All refunds will be processed within 7 working days.
      </p>
      <p>For order count subtracted under ‘Order Modification’ maximum refund applicable is only for ONE piece. T This
        option is unavailable for orders that have a luggage count of one.</p>

      <p>No refunds on subtraction of luggage on ‘Order Modification’ will be apply on the order made with offers or
        coupons or both. Following a cancellation, we will send you an email confirmation to your registered email id
        and refund the booking amount through account credits within 7 days to your source mode of payment.</p>
      <p>
        All refund payments will be processed back to the source account. Refund
        amount will reflect under the name ‘Carterporter Private Limited’ in the
        source statement of accounts. Terms & Conditions apply.
      </p>
      <div>
        Forward all queries to <a href="mailto:customercare@carterporter.in" class="contact"
          style="color: #00bff3; cursor: pointer;text-decoration: none">customercare@carterporter.in</a>
      </div>
    </div>
  </div>
  <!-- cancellation & Refund policy Footer -->
  <app-footer></app-footer>
</section>
