<div class="">
  <div class="container">
    <div class="row extra-bold">
      <div class="col-md-12 col-sm-12 d-flex header">
        <p class="pt-3">
          <img class="btn backImg" src="./../../../../../assets/images/Navigation_Back arrow.svg" (click)="backBtn()" />
        </p>
        <p class="mb-0 ml-auto mr-auto pb-2 pr-5 pt-2 pt-3">
          Safety First
        </p>
      </div>
      <div class="col-md-6 mt-4">
        <div class="row text-center">
          <div class="col-md-3 font-weight-light col-6 feature-heading">
            <img class="imgSiz" src="../../../../../../assets/icons/Contactless Delivery.svg">
            <p>Contactless <br /> Process</p>
          </div>
          <div class="col-md-3 font-weight-light col-6 feature-heading">
            <img class="imgSiz" src="../../../../../../assets/icons/AarogyaSetu (1).svg">
            <p>Aarogya Setu <br /> Safe</p>
          </div>
          <div class="col-md-3 font-weight-light col-6 feature-heading">
            <img class="imgSiz" src="../../../../../../assets/icons/2-sheild packing.svg">
            <p>2 Shield <br /> Packing</p>
          </div>
          <div class="col-md-3 font-weight-light col-6 feature-heading">
            <img class="imgSiz" src="../../../../../../assets/icons/Screened Personnel.svg">
            <p>Screened <br /> Personnel</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-lg-4">
        <div class="row text-center">
          <div class="col-md-3 font-weight-light col-6 feature-heading">
            <img class="imgSiz" src="../../../../../../assets/icons/Slot based Delivery.svg">
            <p>Slot Based <br /> Delivery</p>
          </div>
          <div class="col-md-3 font-weight-light col-6 feature-heading">
            <img class="imgSiz" src="../../../../../../assets/icons/Santizing Van.svg">
            <p>Sanitized <br /> Van</p>
          </div>
          <div class="col-md-3 font-weight-light col-6 feature-heading">
            <img class="imgSiz" src="../../../../../../assets/icons/Free Cancellations.svg">
            <p>Free Cancellations <br /> 48 hours prior</p>
          </div>
          <div class="col-md-3 font-weight-light col-6 feature-heading">
            <img class="imgSiz" src="../../../../../../assets/icons/24 Hours.svg">
            <p>24/7 Support <br /> (post booking)</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
