.features {
  padding: 40px 0px 10px 0px;

  .img {
    align-content: center;
  }

  .feature-heading {
    line-height: 20px;
    text-align: center;

    p {
      padding-top: 10px;
      color: #333333;
      font-size: 13px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
    }
  }
}


.headerF {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.8;
  letter-spacing: normal;
  text-align: left;
  color: #333333;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}

.desc {
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: left;
  color: #565a5c;
  margin-bottom: 40px;
}


.imgSiz {
  height: 3rem;
}

.header {
  font-size: 16px;
  font-weight: 600;
  color: #555555;
  border: solid 1.2px #dddddd;
}

.backImg {
  width: 57px;
  height: 25px;
}

.title {
  font-size: 15.5px;
  font-weight: 600;
  color: #237bc0;
  margin-top: 15px;
}
