<!-- Login section starts -->
<section id="luggage-guide">

    <!-- login header starts -->
    <div class="modal-header">
        <label class="modal-title bold">LUGGAGE SIZE & TYPE GUIDE</label>
        <div aria-label="Close" (click)="onNoClick()">
            <img class="close-image" src="../../../../assets/icons/Close Button.png">
        </div>
    </div>
    <!-- login header ends -->

    <!-- Login body starts -->
    <div mat-dialog-content class="modal-body">
        <div>
            <p class="terms regular">We accept each luggage within the dimension.</p>
            <p class="terms regular">The maximum permissible weight limit for each luggage is 40Kgs (Unless specified
                otherwise)</p>
            <p class="terms regular">The maximum permissible height for luggage is 32 inches / 110cms</p>
            <p class="terms regular">We cannot take bags over this weight or height for the enchanced service quality
                and health and safety of
                our drivers</p>
        </div>
        <div class="container">
            <div class="category-border">
                <label class="categoty-label bold">Category (Ht x L x W)</label>
            </div>
            <div class="container">
                <div class="row row-class">
                    <div class="col-md-1">
                        <img class="luggage-icon" src="../../../../assets/icons/Luggage Size _ Type/Cabin Luggage.png">
                    </div>
                    <div class="col-md-11">
                        <p class="luggage-heading small-font medium">Cabin Luggage (24 x 18 x 10 inches / 61 x 46 x 26
                            cms)</p>
                        <p class="luggage-disc regular">A Cabbin Luggage is a carry on bag that would fit in an airline
                            overhead
                            compartment</p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row-class">
                    <div class="col-md-1">
                        <img class="luggage-icon" src="../../../../assets/icons/Luggage Size _ Type/Checked In.png">
                    </div>
                    <div class="col-md-11">
                        <p class="luggage-heading small-font medium">Checked In (34 x 23 x 14 inches / 87 x 59 x 36
                            cms)</p>
                        <p class="luggage-disc regular">A Checked In luggage is a bag that would be checked into airline
                            for the duration of travel
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row-class">
                    <div class="col-md-1">
                        <img class="luggage-icon"
                            src="../../../../assets/icons/Luggage Size _ Type/Coats _ Jackets.png">
                    </div>
                    <div class="col-md-11">
                        <p class="luggage-heading small-font medium">Coats and Jackets Not Applicable</p>
                        <p class="luggage-disc regular">Any loose piece of clothing.Each piece will be counted as a
                            seperate
                            luggage item falling in to cabin luggage category.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row-class">
                    <div class="col-md-1">
                        <img class="luggage-icon"
                            src="../../../../assets/icons/Luggage Size _ Type/Food _ Beverage.png">
                    </div>
                    <div class="col-md-11">
                        <p class="luggage-heading small-font medium">Food & Beverage (24 x 18 x 10 inches / 61 x 46 x 26
                            cms)</p>
                        <p class="luggage-disc regular">a. Non Perishable items. Only packed and sealed items including
                            restaurant categorized food & beverages for immediate consumption.<br>
                            b. All food and beverages should be sealed to be leak proof.<br>
                            c. Duty free items will be accepted only if the items are sealed as packed inside the
                            airport.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row-class">
                    <div class="col-md-1">
                        <img class="luggage-icon" src="../../../../assets/icons/Luggage Size _ Type/Fragile.png">
                    </div>
                    <div class="col-md-11">
                        <p class="luggage-heading small-font medium">Fragile (13 x 17 x 5 inches / 33 x 44 x 13
                            cms)</p>
                        <p class="luggage-disc regular">Any item of value or any item that need special care in
                            transportation.<br>
                            a. Portable electronics like laptops,cameras are included in this category.<br>
                            b. Duty free items will be accepted only if the terms are sealed as packed inside the
                            airport.<br>
                            c. Any luggage beyond 5Kgs will be only accepted post physical inspection and discretion.
                        </p>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row-class">
                    <div class="col-md-1">
                        <img class="luggage-icon" src="../../../../assets/icons/Luggage Size _ Type/Oversized.png">
                    </div>
                    <div class="col-md-11">
                        <p class="luggage-heading small-font medium">Oversized (34 x 40 x 11 inches / 86 x 110 x 28
                            cms)</p>
                        <p class="luggage-disc regular">A Cabbin Luggage is a carry on bag that would fit in an airline
                            overhead
                            compartment</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container bottom-line">
            <div class="row">
                <div class="col-md-5">
                    <div class="length">
                        <p class="len">L</p>
                        <img src="../../../../assets/icons/Luggage Size _ Type/H_W_L lines/1st Bag/1st Bag-L.png">
                    </div>
                    <img class="bag1" src="../../../../assets/icons/Luggage Size _ Type/Bag-1.png">
                    <div class="height">
                        <p class="len">Ht.</p>
                        <img src="../../../../assets/icons/Luggage Size _ Type/H_W_L lines/1st Bag/1st Bag-Ht.png">
                    </div>
                    <div class="width">
                        <p class="len">W</p>
                        <img src="../../../../assets/icons/Luggage Size _ Type/H_W_L lines/1st Bag/1st Bag-W.png">
                    </div>
                </div>
                <div class="col-md-2">
                    <img class="line" src="../../../../assets/icons/Luggage Size _ Type/Bags Devide Line.png">
                </div>
                <div class="col-md-5">
                    <div class="length-bag-two">
                        <p class="len">L</p>
                        <img src="../../../../assets/icons/Luggage Size _ Type/H_W_L lines/2nd Bag/2nd Bag-L.png">
                    </div>
                    <img class="bag2" src="../../../../assets/icons/Luggage Size _ Type/Bag-2.png">
                    <div class="height-bag-two">
                        <p class="len">Ht.</p>
                        <img src="../../../../assets/icons/Luggage Size _ Type/H_W_L lines/2nd Bag/2nd Bag-Ht.png">
                    </div>
                    <div class="width-bag-two">
                        <p class="len">W</p>
                        <img src="../../../../assets/icons/Luggage Size _ Type/H_W_L lines/2nd Bag/2nd Bag-W.png">
                    </div>
                </div>
            </div>
        </div>
        <p class="dimension-message small-font medium">Dimensions include wheels, handles and pockets</p>
    </div>
    <!-- Login body ends -->

    <!-- Login body ends -->
    <!-- Login section ends -->
</section>

<!-- <h1 mat-dialog-title>Hi user</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
    <input matInput>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div> -->