.mobile-no-label {
  margin: 0 0px 0 15px !important;
}

.mobile-no {
  padding: 0px 5px 0 0px !important;
  flex: 1;
  margin: 0 10px 4px;
}

.country-codes{
  padding: 3px;
  border-bottom: 1px solid #c7c7c7;
}


