<!-- Login section starts -->
<section id="login">

  <!-- login header starts -->
  <div class="modal-header">
    <div aria-label="Close">
      <img (click)="onNoClick()" class="close-image" src="../../../../assets/icons/Close Button.png">
    </div>
  </div>
  <!-- login header ends -->

  <!-- Login body starts -->
  <div mat-dialog-content class="modal-body">
    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
      <div class="input">
        <label class="mobile-no-label regular">
          <figure class="m-0">
            <img class="phone-icon" src="../../../../assets/icons/Mobile No.png">
            <span>
              Mobile No*
            </span>
          </figure>
          </label>
          <!-- Login Section -->
          <div class="loginForm">
            <div class="row">
              <div class="form-group col-md-4 col-xs-12 country-code">
                  <select class="form-control inputcontrol" formControlName="id_country_code"
                    (change)="selectedCountryCode()">
                    <option [ngValue]="" selected disabled>+91</option>
                    <option *ngFor="let c of showCountryCode" [ngValue]="c">
                      +{{c.country_code}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{c.country_name}}</option>
                  </select>
              </div>
              <div class="form-group col-md-8 col-xs-12 phone-no">
                <input class=" form-control inputcontrol" formControlName="mobile" type="text" numbersOnly minlength='10'
                  placeholder="Phone number" maxlength="10">
              </div>
            </div>
          </div>
  
      </div>
      <div>
        <button class="btn submit-button bold" type="submit" [disabled]="disableButton">LOGIN</button>
      </div>
      <p class="star-info regular">* Denotes Mandatory&nbsp;<img class="info-icon"
          src="../../../../assets/icons/information.png"></p>
      <p class="register-option bold">Don't have an account? <a class="register-link" (click)="register()">Register
          &nbsp;<img class="info-icon" src="../../../../assets/icons/information.png"></a></p>
    </form>
  </div>
  <!-- Login body ends -->

  <!-- Login footer starts -->
  <div class="container mb-3">
    <div class="row footer-style bold">
      <div class="col-md-6 text-center">
        <a class="policy-terms" href="/information/privacy-policy" target="_blank" >Privacy Policy
        </a>
      </div>
      <div class="col-md-6 text-center">
        <a class="policy-terms" href="/information/terms-and-conditions" target="_blank">Terms and
          Condition</a>
      </div>
    </div>
  </div>
  <!-- Login body ends -->
  <!-- Login section ends -->
</section>

<!-- <h1 mat-dialog-title>Hi user</h1>
<div mat-dialog-content>
  <p>What's your favorite animal?</p>
    <input matInput>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button cdkFocusInitial>Ok</button>
</div> -->
